<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1021897847933-3leirrjl3l6o26nb519hu46oh21j8sno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021897847933-3leirrjl3l6o26nb519hu46oh21j8sno</string>
	<key>API_KEY</key>
	<string>AIzaSyBSQXc_lrJ9W2xhrveVjpxCdFL4S9fGLvg</string>
	<key>GCM_SENDER_ID</key>
	<string>1021897847933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.sirkles.PopADots.ios</string>
	<key>PROJECT_ID</key>
	<string>pop-a-dots-bf545</string>
	<key>STORAGE_BUCKET</key>
	<string>pop-a-dots-bf545.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021897847933:ios:c709f40746c8218d</string>
	<key>DATABASE_URL</key>
	<string>https://pop-a-dots-bf545.firebaseio.com</string>
</dict>
</plist>